.icon {
  display: grid;
  place-items: center;

  aspect-ratio: 1;
  border-radius: 20%;
  background-color: var(--color-surface);
}

/* Make image behave nicely */
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Sizes */
.icon--small {
  width: 16px;
  padding: 2px;
}

.icon--medium {
  width: 28px;
  padding: 2px;
}

/* State */
.icon--selected {
  background-color: var(--color-selected);
}